.imagenRegistro{
    display: flex !important;
    flex-direction: row !important;
    padding: -40px !important;
    margin-right: 200px !important;
    
}
.padre{
    display: flex !important;
    flex-direction: row !important;
    background-color:  white !important;
}

